<!DOCTYPE html>

<html>
	<head>
		<title>Room Service</title>
	</head>
	
	<div style="display: inline" class="header">
		<p style="display: inline"><b>Room Service Requests Viewer</b></p>
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('room_service_list') }}">List</a>
	</div>
	
	<hr>
	
	<div class="messages">
		{% with messages = get_flashed_messages() %}
			{% for message in message %}
				<b>{{ message }}</b>
			{% endfor %}
		
		{% endwith %}
	</div>

	<div class="main">
		{% block content %}{% endblock %}
	</div>

</html>
