{% extends "base.html" %}


{% block content %}
	<h1>{{ title }}</h1>
	
	
	<style>
		.requests_table, .requests_table th, .requests_table td  {
			border: 1px solid black;
		}
		
		.requests_table tr {
			width: 100%;
			height: 40px;
			
		}
		
		.requests_table td, .requests_table th {
			padding: 20px;
			
		}
	
	</style>
	
	<table class="requests_table"s>
		
		<tr>
			<th>Requester</th>
			<th>Description</th>
			
		</tr>
		{% for request in requests %}
			<tr>
				<td>{{ request.requester.first_name + " " + request.requester.last_name }}</td>
				<td>{{ request.description }}</td>
			
			</tr>
		
		{% endfor %}
		
		
	</table>
	
	

{% endblock %}

